:root {
    --primary-text-color: #757575;
    --primary-white-color: #ffffff;
    --primary-blue-color: #2196f3;
    --primary-black-color: #212121;
}
body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    background: #ffffff;
    color: var(--primary-text-color);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /*outline: 2px solid tomato;*/
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    list-style: none;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/*INDEX*/

/*Style header*/
.header {
    border-bottom: 1px solid #ECECEC;
}

/*Main Nav*/
.main-nav {
    display: flex;
    align-items: center;
}

/*Logo*/
.logo {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.03em;
}
.logo-web {
    color: var(--primary-blue-color);
}

/*Navigation*/
.nav-site {
    display: flex;
    padding: 0;
    margin-left: 93px;

    list-style: none;
    
}

.nav-site .item + .item {
    margin-left: 50px;
}

.nav-site-link {
    display: block;
    padding-top: 31px;
    padding-bottom: 32px;

    color: var(--primary-black-color);
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.nav-site-link:hover,
.nav-site-link:focus {
    color: var(--primary-blue-color);
}

.nav-cont {
    display: flex;
    padding: 0;
    margin-left: auto;

    list-style: none;
}

.nav-cont .item + .item {
    margin-left: 50px;
}

.nav-cont-link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.nav-cont-link:hover,
.nav-cont-link:focus {
    color: var(--primary-blue-color);
}


/*Style main*/
/*Hero*/
.hero {
    text-align: center;

    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: #c4c4c4;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ), 
        url('../images/Img-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    
}

.hero-text {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.35;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
}

.hero-btn {
    background: var(--primary-blue-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    color: var(--primary-white-color);
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer;
    padding: 10px 32px;
}
.hero-btn:hover,
.hero-btn:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/*Preference*/
.pref {
    display: flex;
    padding: 0;

    list-style: none;
}

.pref .item + .item {
    margin-left: 30px;
}

.icon-bg {
    height: 120px;
    width: 270px;

    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;

    background-color: #F5F4FA;
    border-radius: 4px;

}

.icon-pref {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 70px;
    height: 70px;
}

.pref-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    color: var(--primary-black-color);
    margin-bottom: 10px;
}

.pref-text {
    line-height: 1.7;
}

/*About*/
.supp-pt {
    padding-top: 0;
}

.about-list {
    display: flex;
    padding: 0;

    list-style: none;
}

.about-list .item + .item {
    margin-left: 30px;
}

.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: var(--primary-black-color);

    text-align: center;
    margin-bottom: 50px;
}

/*Team*/
.section.team {
    background-color: #F5F4FA;
}

.team-list {
    display: flex;
    padding: 0;

    list-style: none;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.165;
    letter-spacing: 0.03em;
    color: var(--primary-black-color);

    text-align: center;
    margin-bottom: 50px;
}

.team-bgd {
    background-color: var(--primary-white-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list .team-bgd + .team-bgd {
    margin-left: 30px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: var(--primary-black-color);

    text-align: center;
    margin-bottom: 10px;
}

.team-prof {
    text-align: center;

    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
}

.team-info {
    padding-top: 30px;
    padding-bottom: 16px;
}

.social-links {
    display: flex;
    justify-content: center;
    padding: 0;
    padding-bottom: 30px;
}

.links-team {
    width: 44px;
    height: 44px;

    border-radius: 100%;
}

.icon-team {
    display: block;
    margin: 12px;
    fill: #AFB1B8;
}


.social-links .links-team + .links-team {
    margin-left: 10px;
}

.icon-team:hover {
    fill: var(--primary-white-color);
    background-color: var(--primary-blue-color);
}

.links-team:hover {
    background-color: var(--primary-blue-color);
}

/*Style footer*/
.footer {
    background: #2F303A;
}

.footer-logo {
    display: flex;
    margin-bottom: 20px;

    font-family: 'Raleway', sans-serif;
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    
}

.footer-cont {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.7;
    font-style: normal;
}

.supp-footer {
    padding-bottom: 60px;
    padding-top: 60px;
}

.address-list .item + .item {
    margin-top: 9px;
}

.address {
    line-height: 1.7;
    color: var(--primary-white-color);
    font-style: normal;
}

.footer-cont:hover,
.footer-cont:focus {
    color: var(--primary-blue-color);
}

.footer-logo,
.footer-cont,
.address {
    text-decoration: none;
}


/*PORTFOLIO*/
/*Nav*/
.portfolio-list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 50px;

    list-style: none;
}

.portfolio-list .item + .item {
    margin-left: 8px;
}

.portfolio-btn{
    font-family: 'Roboto', sans-serif;
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.625;
    color: var(--primary-black-color);
    border: none;
    cursor: pointer;

    padding: 6px 25px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    background: var(--primary-blue-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--primary-white-color);
    border: none;
}


/*Samples*/
.samples-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.samples-list .item {
    margin-bottom: 30px;
}

.samples-list .item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

/*.samples-list .item:nth-child(3n) {
    margin-right: 0;
}
*/

.link-decor {
    text-decoration: none;
}

.port-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-black-color);

    margin-bottom: 4px;
}

.port-list-text {
    font-size: 16px;
    line-height: 1.875;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
}

.port-title-text {
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;

    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}